<!doctype html>
<html lang="en">


<head>

        <meta charset="utf-8" />
        <title>Choose Service | LOGOL V.4</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- preloader css -->
        <link rel="stylesheet" href="assets/css/preloader.min.css" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>

    <!-- <body data-layout="horizontal"> -->
        <div class="auth-page">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <!-- end col -->

                    <div class="col-xxl-4 col-lg-4 col-md-3">

                        <div class="auth-bg d-flex bg-primary">
                            <img src="assets/images/Logo.png" class="mt-sm-5" style="position: fixed; margin-left: 10em;" width="70px" height="50px" />
                            <img src="assets/images/people1.png" alt=""  style="height:46em; position: fixed; bottom:0; left:10em"> <!--<span class="logo-txt">Logol</span>-->
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xxl-8 col-lg-9 col-md-10 ">
                        <div class="auth-full-page-content d-flex p-sm-5 p-4">
                            <div class="w-100">
                                <div class="d-flex flex-column h-100">
                                    <div class="auth-content my-auto">
                                        <div>
                                            <i class="mdi mdi-arrow-left"></i>
                                            <span class=" mt-2" >Back To Mainsite</span>
                                            <img align="right" src="assets/images/lang-eng.png" alt="" >
                                        </div>
                                        <div class="row  mt-5">
                                            <div class="col-xxl-8 col-lg-9 col-md-10">
                                                <h4 class="form-label">What are you looking for?</h4>
                                                <p class=" mt-2" >Please select at least one on this list that matched with your needed.</p>
                                            </div>
                                            <div class="col-xxl-4 col-lg-3 col-md-2" style="text-indent: 0%;">
                                                <blockquote class="blockquote font-size-14 mb-0" >

                                                    <div  align="right">
                                                        <span class="text-muted">Step 2</span>
                                                        <h5>You Need</h5>
                                                    </div>
                                                </blockquote>
                                            </div>
                                        </div>

                                            <div class="row mt-5" >

                                                <div class="col-sm-3 col-lg-3" >
                                                    <div class="card">
                                                        <div align="right" class="check-card2">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                        </div>
                                                        <img class="card-img-top icon-reg" src="assets/images/icon/icon-ppjk.png" >
                                                        <div class="card-body text-center">
                                                            <h4 class="card-title">I'am PPJK</h4>
                                                            <p class="card-text fs-10px">I want to order import export as third party</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 col-lg-3" >
                                                    <div class="card">
                                                        <div align="right" class="check-card2">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                        </div>
                                                        <img class="card-img-top icon-reg" src="assets/images/icon/icon-consignee.png" >
                                                        <div class="card-body text-center">
                                                            <h4 class="card-title">I'am Consignee</h4>
                                                            <p class="card-text fs-10px">I want to export or import goods
                                                                <br/> &nbsp;
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 col-lg-3" >
                                                    <div class="card">
                                                        <div align="right" class="check-card2">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                        </div>
                                                        <img class="card-img-top icon-reg" src="assets/images/icon/icon-truck.png" >
                                                        <div class="card-body text-center">
                                                            <h4 class="card-title">I'am Truck Owner</h4>
                                                            <p class="card-text fs-10px">I want to be a part of logol platform
                                                                <br/> &nbsp;
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 col-lg-3" >
                                                    <div class="card">
                                                        <div align="right" class="check-card2">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                        </div>
                                                        <img class="card-img-top icon-reg" src="assets/images/icon/icon-truck2.png" >
                                                        <div class="card-body text-center">
                                                            <h4 class="card-title mt-3">I need a Truck</h4>
                                                            <p class="card-text fs-10px">we have 700+ truck around indonesia
                                                                <br/> &nbsp;
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 col-lg-3" >
                                                    <div class="card">
                                                        <div align="right" class="check-card2">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                        </div>
                                                        <img class="card-img-top icon-reg" src="assets/images/icon/icon-gatepass.png" style="height:3em;" >
                                                        <div class="card-body text-center">
                                                            <h4 class="card-title">E - Gatepass</h4>
                                                            <p class="card-text fs-10px">we have integrated with all Terminal in Tj. Priok</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 col-lg-3" >
                                                    <div class="card">
                                                        <div align="right" class="check-card2">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                        </div>
                                                        <img class="card-img-top icon-reg" src="assets/images/icon/icon-loading.png" >
                                                        <div class="card-body text-center">
                                                            <h4 class="card-title">E-Loading Card</h4>
                                                            <p class="card-text fs-10px">we have integrated with “Big Depot” in Jabodetabek</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 col-lg-3" >
                                                    <div class="card">
                                                        <div align="right" class="check-card2">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                        </div>
                                                        <img class="card-img-top icon-reg" src="assets/images/icon/icon-customs.png" >
                                                        <div class="card-body text-center">
                                                            <h4 class="card-title">E-Customs</h4>
                                                            <p class="card-text fs-10px">we have coorperated with DJBC Indonesia</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 col-lg-3" >
                                                    <div class="card">
                                                        <div align="right" class="check-card2">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                        </div>
                                                        <img class="card-img-top icon-reg" src="assets/images/icon/icon-ocean.png" >
                                                        <div class="card-body text-center">
                                                            <h4 class="card-title mt-3">Ocean Freight</h4>
                                                            <p class="card-text fs-10px">soon we will had overseas logistic
                                                                <br/> &nbsp;
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-lg-12" >
                                                    <div class="card">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="col-md-4">
                                                                <img style="float: right;" class="card-img-top icon-reg" src="assets/images/icon/icon-others.png" >
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="card-body">
                                                                    <h5 class="card-title">Others</h5>
                                                                    <p class="card-text">or/and you can fill here</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        <div class="mt-4 pt-2 text-end">
                                            <button class="btn btn-outline-light w-25 waves-effect waves-light pad-vertical me-4" type="submit">Back</button>
                                            <a class="btn btn-info w-25 waves-effect waves-light pad-vertical" href="auth-register-bio.html">Continue</a>
                                        </div>
                                    </div>
                                    <div class="mt-4 mt-md-5 text-center">
                                        <!--<p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Minia   . Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end auth full page content -->
                    </div>

                </div>
                <!-- end row -->
            </div>
            <!-- end container fluid -->
        </div>


        <!-- JAVASCRIPT -->
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        <!-- pace js -->
        <script src="assets/libs/pace-js/pace.min.js"></script>
        <!-- password addon init -->
        <script src="assets/js/pages/pass-addon.init.js"></script>

    </body>



</html>