<!doctype html>
<html lang="en">


<head>

        <meta charset="utf-8" />
        <title>Choose Service | LOGOL V.4</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- preloader css -->
        <link rel="stylesheet" href="assets/css/preloader.min.css" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>

    <!-- <body data-layout="horizontal"> -->
        <div class="auth-page">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <!-- end col -->

                    <div class="col-xxl-4 col-lg-4 col-md-3">

                        <div class="auth-bg d-flex bg-primary">
                            <img src="assets/images/Logo.png" class="mt-sm-5" style="position: fixed; margin-left: 10em;" width="70px" height="50px" />
                            <img src="assets/images/bg-trailer.png" alt=""  style="height:24em; position: fixed; bottom:10em; left:9.3em"> <!--<span class="logo-txt">Logol</span>-->
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xxl-8 col-lg-9 col-md-10 ">
                        <div class="auth-full-page-content d-flex p-sm-5 p-4">
                            <div class="w-100">
                                <div>
                                    <i class="mdi mdi-arrow-left"></i>
                                    <span class=" mt-2" >Back To Mainsite</span>
                                    <img align="right" src="assets/images/lang-eng.png" alt="" >
                                </div>
                                <div class="d-flex flex-column h-100">
                                    <div class="auth-content my-auto">

                                        <div class="row  mt-5 ">
                                            <div class="col-xxl-8 col-lg-9 col-md-10">
                                                <h4 class="form-label">Create New Password?</h4>
                                                <p class=" mt-2" >Enter your new password</p>
                                            </div>

                                        </div>

                                            <div class="row"  >
                                                <form>
                                                    <div class="mb-3 input-group">
                                                        <input type="password" class="form-control"  placeholder="Passoword">
                                                    </div>
                                                    <div class="mb-3 input-group">
                                                        <input type="password" class="form-control"  placeholder="Re-type Passoword">
                                                    </div>
                                                </form>
                                            </div>


                                        <div class="mt-4 pt-2 text-end">
                                            <button class="btn btn-outline-light w-25 waves-effect waves-light pad-vertical me-4" type="submit">Back</button>
                                            <a class="btn btn-info w-25 waves-effect waves-light pad-vertical" href="index.html">Send</a>
                                        </div>
                                    </div>
                                    <div class="mt-4 mt-md-5 text-center">
                                        <!--<p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Minia   . Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end auth full page content -->
                    </div>

                </div>
                <!-- end row -->
            </div>
            <!-- end container fluid -->
        </div>


        <!-- JAVASCRIPT -->
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        <!-- pace js -->
        <script src="assets/libs/pace-js/pace.min.js"></script>
        <!-- password addon init -->
        <script src="assets/js/pages/pass-addon.init.js"></script>

    </body>



</html>