<!doctype html>
<html lang="en">


<head>

        <meta charset="utf-8" />
        <title>Fill Biodata | LOGOL V.4</title>

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- preloader css -->
        <link rel="stylesheet" href="assets/css/preloader.min.css" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>

    <!-- <body data-layout="horizontal"> -->
        <div class="auth-page">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <!-- end col -->

                    <div class="col-xxl-4 col-lg-4 col-md-3">

                        <div class="auth-bg d-flex bg-primary">
                            <img src="assets/images/Logo.png" class="mt-sm-5" style="position: fixed; margin-left: 10em;" width="70px" height="50px" />
                            <img src="assets/images/people1.png" alt=""  style="height:46em; position: fixed; bottom:0; left:10em"> <!--<span class="logo-txt">Logol</span>-->
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xxl-8 col-lg-9 col-md-10 ">
                        <div class="auth-full-page-content d-flex p-sm-5 p-4">
                            <div class="w-100">
                                <div class="d-flex flex-column h-100">
                                    <div class="auth-content my-auto">
                                        <div>
                                            <i class="mdi mdi-arrow-left"></i>
                                            <span class=" mt-2" >Back To Mainsite</span>
                                            <img align="right" src="assets/images/lang-eng.png" alt="" >
                                        </div>
                                        <div class="row  mt-5">
                                            <div class="col-xxl-8 col-lg-9 col-md-10">
                                                <h4 class="form-label">Register</h4>

                                            </div>
                                            <div class="col-xxl-4 col-lg-3 col-md-2" style="text-indent: 0%;">
                                                <blockquote class="blockquote font-size-14 mb-0" >

                                                    <div  align="right">
                                                        <span class="text-muted">Step 3</span>
                                                        <h5>Basic Info</h5>
                                                    </div>
                                                </blockquote>
                                            </div>
                                        </div>

                                            <div class="row mt-5" >
                                                <form>
                                                    <label class="mb-4">Basic Info</label>
                                                    <div class="mb-3 input-group">
                                                        <input type="text" class="form-control"  placeholder="Company Name">
                                                    </div>
                                                    <div class="mb-3 ">
                                                        <div class="row">
                                                            <div class="col-sm-8 col-lg-8">
                                                                <input type="text" class="form-control input-group"  placeholder="NPWP">
                                                            </div>
                                                            <div class="col-sm-4 col-lg-4">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control "  placeholder="Upload NPWP">
                                                                    <div class="input-group-text">
                                                                        <i class="mdi mdi-arrow-expand-up"></i>
                                                                    </div>
                                                                </div>
                                                                <label class="text-muted">must in pdf file format</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 input-group">
                                                        <input type="text" class="form-control"  placeholder="Your Name (PIC)">
                                                    </div>
                                                    <div class="mb-4">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-lg-6">
                                                                <input type="text" class="form-control input-group"  placeholder="Your Mobile Number (PIC)">
                                                            </div>
                                                            <div class="col-sm-6 col-lg-6">
                                                                <input type="text" class="form-control input-group"  placeholder="Office Phone">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <label class="mb-4">Account Info</label>
                                                    <div class="mb-4">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-lg-6">
                                                                <input type="text" class="form-control input-group"  placeholder="Request Number Of User">
                                                            </div>
                                                            <div class="col-sm-6 col-lg-6">
                                                                <input type="text" class="form-control input-group"  placeholder="Email">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-lg-6">
                                                                <input type="password" class="form-control input-group"  placeholder="Password">
                                                            </div>
                                                            <div class="col-sm-6 col-lg-6">
                                                                <input type="password" class="form-control input-group"  placeholder="Retype Password">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <label class="mb-4">Acknowledgement</label>
                                                    <div class="mb-4">
                                                        <div class="form-check">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                            <label class="form-check-label lighter">
                                                                This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information such : your name, email address, phone number, documents and any other information you give us. When you use the Service and tells you about Your Privacy Rights and how the law protects You. We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4">
                                                        <div class="form-check">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                            <label class="form-check-label lighter">
                                                                As part of such responsibilities I shall ensure that user IDs of staff who have left the company or who no longer need to use Logol are removed from Logol. I agree and acknowledge that Logol will not be responsible for any act or omission by your company's Data Security Administrators or its Logol users.
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4">
                                                        <div class="form-check">
                                                            <input class="form-check-input chk-card" type="checkbox">
                                                            <label class="form-check-label lighter">
                                                                I have read and agreed to the
                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"> Terms of Service </a> and
                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"> Privacy Policy </a>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                             <!-- Scrollable modal -->
                                             <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                             <div class="modal-dialog modal-dialog-scrollable">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                        <div>
                                                            <h5 class="modal-title" id="exampleModalScrollableTitle">Terms Of Service & Privacy Policy</h5>
                                                            <p>Please read to submit your registry</p>
                                                        </div>

                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                     </div>

                                                     <div class="modal-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie feugiat dictum nunc, neque sed vitae gravida. Et ac metus vulputate dictumst ut. Ut adipiscing sit porttitor velit ultricies. Sodales vitae diam id rutrum sed. Magna eu, pellentesque ut ornare. Lectus justo lorem sit pulvinar mus aliquet feugiat. Cum lorem volutpat faucibus faucibus dictumst vitae ut purus. Aenean at interdum aenean donec at odio sed odio. Enim pulvinar adipiscing consectetur ut. Odio dictum sed turpis ac diam pretium. Habitasse a pharetra non quam in tincidunt nisl.
                                                        Senectus cursus mauris feugiat blandit. Aliquam vitae penatibus gravida et imperdiet felis sed. Elit cursus cursus lectus nunc velit purus aliquet tortor. Placerat aliquam eget interdum porttitor. Morbi egestas turpis viverra odio dolor mollis nisl consectetur. Pellentesque nam platea cum gravida sed lectus eget a.
                                                        Velit, non id nullam orci. Malesuada sapien sed mi mi sapien neque commodo tellus. Aliquam nam sit volutpat lacus. Posuere mattis massa auctor nunc cursus. Mattis tellus tortor, tincidunt senectus dictum tempus fermentum sodales.
                                                        Adipiscing tempor, sodales senectus nisi. Aliquet faucibus lectus dictumst sit viverra convallis egestas.</p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie feugiat dictum nunc, neque sed vitae gravida. Et ac metus vulputate dictumst ut. Ut adipiscing sit porttitor velit ultricies. Sodales vitae diam id rutrum sed. Magna eu, pellentesque ut ornare. Lectus justo lorem sit pulvinar mus aliquet feugiat. Cum lorem volutpat faucibus faucibus dictumst vitae ut purus. Aenean at interdum aenean donec at odio sed odio. Enim pulvinar adipiscing consectetur ut. Odio dictum sed turpis ac diam pretium. Habitasse a pharetra non quam in tincidunt nisl.
                                                            Senectus cursus mauris feugiat blandit. Aliquam vitae penatibus gravida et imperdiet felis sed. Elit cursus cursus lectus nunc velit purus aliquet tortor. Placerat aliquam eget interdum porttitor. Morbi egestas turpis viverra odio dolor mollis nisl consectetur. Pellentesque nam platea cum gravida sed lectus eget a.
                                                            Velit, non id nullam orci. Malesuada sapien sed mi mi sapien neque commodo tellus. Aliquam nam sit volutpat lacus. Posuere mattis massa auctor nunc cursus. Mattis tellus tortor, tincidunt senectus dictum tempus fermentum sodales.
                                                            Adipiscing tempor, sodales senectus nisi. Aliquet faucibus lectus dictumst sit viverra convallis egestas.</p>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie feugiat dictum nunc, neque sed vitae gravida. Et ac metus vulputate dictumst ut. Ut adipiscing sit porttitor velit ultricies. Sodales vitae diam id rutrum sed. Magna eu, pellentesque ut ornare. Lectus justo lorem sit pulvinar mus aliquet feugiat. Cum lorem volutpat faucibus faucibus dictumst vitae ut purus. Aenean at interdum aenean donec at odio sed odio. Enim pulvinar adipiscing consectetur ut. Odio dictum sed turpis ac diam pretium. Habitasse a pharetra non quam in tincidunt nisl.
                                                                Senectus cursus mauris feugiat blandit. Aliquam vitae penatibus gravida et imperdiet felis sed. Elit cursus cursus lectus nunc velit purus aliquet tortor. Placerat aliquam eget interdum porttitor. Morbi egestas turpis viverra odio dolor mollis nisl consectetur. Pellentesque nam platea cum gravida sed lectus eget a.
                                                                Velit, non id nullam orci. Malesuada sapien sed mi mi sapien neque commodo tellus. Aliquam nam sit volutpat lacus. Posuere mattis massa auctor nunc cursus. Mattis tellus tortor, tincidunt senectus dictum tempus fermentum sodales.
                                                                Adipiscing tempor, sodales senectus nisi. Aliquet faucibus lectus dictumst sit viverra convallis egestas.</p>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie feugiat dictum nunc, neque sed vitae gravida. Et ac metus vulputate dictumst ut. Ut adipiscing sit porttitor velit ultricies. Sodales vitae diam id rutrum sed. Magna eu, pellentesque ut ornare. Lectus justo lorem sit pulvinar mus aliquet feugiat. Cum lorem volutpat faucibus faucibus dictumst vitae ut purus. Aenean at interdum aenean donec at odio sed odio. Enim pulvinar adipiscing consectetur ut. Odio dictum sed turpis ac diam pretium. Habitasse a pharetra non quam in tincidunt nisl.
                                                                    Senectus cursus mauris feugiat blandit. Aliquam vitae penatibus gravida et imperdiet felis sed. Elit cursus cursus lectus nunc velit purus aliquet tortor. Placerat aliquam eget interdum porttitor. Morbi egestas turpis viverra odio dolor mollis nisl consectetur. Pellentesque nam platea cum gravida sed lectus eget a.
                                                                    Velit, non id nullam orci. Malesuada sapien sed mi mi sapien neque commodo tellus. Aliquam nam sit volutpat lacus. Posuere mattis massa auctor nunc cursus. Mattis tellus tortor, tincidunt senectus dictum tempus fermentum sodales.
                                                                    Adipiscing tempor, sodales senectus nisi. Aliquet faucibus lectus dictumst sit viverra convallis egestas.</p>
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie feugiat dictum nunc, neque sed vitae gravida. Et ac metus vulputate dictumst ut. Ut adipiscing sit porttitor velit ultricies. Sodales vitae diam id rutrum sed. Magna eu, pellentesque ut ornare. Lectus justo lorem sit pulvinar mus aliquet feugiat. Cum lorem volutpat faucibus faucibus dictumst vitae ut purus. Aenean at interdum aenean donec at odio sed odio. Enim pulvinar adipiscing consectetur ut. Odio dictum sed turpis ac diam pretium. Habitasse a pharetra non quam in tincidunt nisl.
                                                                        Senectus cursus mauris feugiat blandit. Aliquam vitae penatibus gravida et imperdiet felis sed. Elit cursus cursus lectus nunc velit purus aliquet tortor. Placerat aliquam eget interdum porttitor. Morbi egestas turpis viverra odio dolor mollis nisl consectetur. Pellentesque nam platea cum gravida sed lectus eget a.
                                                                        Velit, non id nullam orci. Malesuada sapien sed mi mi sapien neque commodo tellus. Aliquam nam sit volutpat lacus. Posuere mattis massa auctor nunc cursus. Mattis tellus tortor, tincidunt senectus dictum tempus fermentum sodales.
                                                                        Adipiscing tempor, sodales senectus nisi. Aliquet faucibus lectus dictumst sit viverra convallis egestas.</p>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie feugiat dictum nunc, neque sed vitae gravida. Et ac metus vulputate dictumst ut. Ut adipiscing sit porttitor velit ultricies. Sodales vitae diam id rutrum sed. Magna eu, pellentesque ut ornare. Lectus justo lorem sit pulvinar mus aliquet feugiat. Cum lorem volutpat faucibus faucibus dictumst vitae ut purus. Aenean at interdum aenean donec at odio sed odio. Enim pulvinar adipiscing consectetur ut. Odio dictum sed turpis ac diam pretium. Habitasse a pharetra non quam in tincidunt nisl.
                                                                            Senectus cursus mauris feugiat blandit. Aliquam vitae penatibus gravida et imperdiet felis sed. Elit cursus cursus lectus nunc velit purus aliquet tortor. Placerat aliquam eget interdum porttitor. Morbi egestas turpis viverra odio dolor mollis nisl consectetur. Pellentesque nam platea cum gravida sed lectus eget a.
                                                                            Velit, non id nullam orci. Malesuada sapien sed mi mi sapien neque commodo tellus. Aliquam nam sit volutpat lacus. Posuere mattis massa auctor nunc cursus. Mattis tellus tortor, tincidunt senectus dictum tempus fermentum sodales.
                                                                            Adipiscing tempor, sodales senectus nisi. Aliquet faucibus lectus dictumst sit viverra convallis egestas.</p>
                                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie feugiat dictum nunc, neque sed vitae gravida. Et ac metus vulputate dictumst ut. Ut adipiscing sit porttitor velit ultricies. Sodales vitae diam id rutrum sed. Magna eu, pellentesque ut ornare. Lectus justo lorem sit pulvinar mus aliquet feugiat. Cum lorem volutpat faucibus faucibus dictumst vitae ut purus. Aenean at interdum aenean donec at odio sed odio. Enim pulvinar adipiscing consectetur ut. Odio dictum sed turpis ac diam pretium. Habitasse a pharetra non quam in tincidunt nisl.
                                                                                Senectus cursus mauris feugiat blandit. Aliquam vitae penatibus gravida et imperdiet felis sed. Elit cursus cursus lectus nunc velit purus aliquet tortor. Placerat aliquam eget interdum porttitor. Morbi egestas turpis viverra odio dolor mollis nisl consectetur. Pellentesque nam platea cum gravida sed lectus eget a.
                                                                                Velit, non id nullam orci. Malesuada sapien sed mi mi sapien neque commodo tellus. Aliquam nam sit volutpat lacus. Posuere mattis massa auctor nunc cursus. Mattis tellus tortor, tincidunt senectus dictum tempus fermentum sodales.
                                                                                Adipiscing tempor, sodales senectus nisi. Aliquet faucibus lectus dictumst sit viverra convallis egestas.</p>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie feugiat dictum nunc, neque sed vitae gravida. Et ac metus vulputate dictumst ut. Ut adipiscing sit porttitor velit ultricies. Sodales vitae diam id rutrum sed. Magna eu, pellentesque ut ornare. Lectus justo lorem sit pulvinar mus aliquet feugiat. Cum lorem volutpat faucibus faucibus dictumst vitae ut purus. Aenean at interdum aenean donec at odio sed odio. Enim pulvinar adipiscing consectetur ut. Odio dictum sed turpis ac diam pretium. Habitasse a pharetra non quam in tincidunt nisl.
                                                                                    Senectus cursus mauris feugiat blandit. Aliquam vitae penatibus gravida et imperdiet felis sed. Elit cursus cursus lectus nunc velit purus aliquet tortor. Placerat aliquam eget interdum porttitor. Morbi egestas turpis viverra odio dolor mollis nisl consectetur. Pellentesque nam platea cum gravida sed lectus eget a.
                                                                                    Velit, non id nullam orci. Malesuada sapien sed mi mi sapien neque commodo tellus. Aliquam nam sit volutpat lacus. Posuere mattis massa auctor nunc cursus. Mattis tellus tortor, tincidunt senectus dictum tempus fermentum sodales.
                                                                                    Adipiscing tempor, sodales senectus nisi. Aliquet faucibus lectus dictumst sit viverra convallis egestas.</p>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie feugiat dictum nunc, neque sed vitae gravida. Et ac metus vulputate dictumst ut. Ut adipiscing sit porttitor velit ultricies. Sodales vitae diam id rutrum sed. Magna eu, pellentesque ut ornare. Lectus justo lorem sit pulvinar mus aliquet feugiat. Cum lorem volutpat faucibus faucibus dictumst vitae ut purus. Aenean at interdum aenean donec at odio sed odio. Enim pulvinar adipiscing consectetur ut. Odio dictum sed turpis ac diam pretium. Habitasse a pharetra non quam in tincidunt nisl.
                                                                                        Senectus cursus mauris feugiat blandit. Aliquam vitae penatibus gravida et imperdiet felis sed. Elit cursus cursus lectus nunc velit purus aliquet tortor. Placerat aliquam eget interdum porttitor. Morbi egestas turpis viverra odio dolor mollis nisl consectetur. Pellentesque nam platea cum gravida sed lectus eget a.
                                                                                        Velit, non id nullam orci. Malesuada sapien sed mi mi sapien neque commodo tellus. Aliquam nam sit volutpat lacus. Posuere mattis massa auctor nunc cursus. Mattis tellus tortor, tincidunt senectus dictum tempus fermentum sodales.
                                                                                        Adipiscing tempor, sodales senectus nisi. Aliquet faucibus lectus dictumst sit viverra convallis egestas.</p>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                                                         <button type="button" class="btn btn-info">I, Agree Terms of Service & Privacy Policy</button>
                                                     </div>
                                                 </div><!-- /.modal-content -->
                                             </div><!-- /.modal-dialog -->
                                         </div><!-- /.modal -->

                                        <div class="mt-4 pt-2 text-end">
                                            <button class="btn btn-outline-light w-25 waves-effect waves-light pad-vertical me-4" type="submit">Back</button>
                                            <a class="btn btn-info w-25 waves-effect waves-light pad-vertical" href="index.html">Submit</a>
                                        </div>
                                    </div>
                                    <div class="mt-4 mt-md-5 text-center">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end auth full page content -->
                    </div>

                </div>
                <!-- end row -->
            </div>
            <!-- end container fluid -->
        </div>


        <!-- JAVASCRIPT -->
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        <!-- pace js -->
        <script src="assets/libs/pace-js/pace.min.js"></script>
        <!-- password addon init -->
        <script src="assets/js/pages/pass-addon.init.js"></script>

    </body>



</html>